<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FavoriteImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07425DF01CDD084C007FE14D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07425E091CDD0855007FE14D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07425E141CDD0857007FE14D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
